streamlit
pandas
transformers[torch]
datasets
matplotlib
seaborn
wordcloud
pytube
openai-whisper
google-api-python-client
nltk
python-dotenv
sacremoses
accelerate
torch  # Ensure torch is included to handle PyTorch dependencies
