streamlit
pandas
transformers
datasets
matplotlib
seaborn
wordcloud
pytube
whisper @ git+https://github.com/openai/whisper.git
google-api-python-client
nltk
python-dotenv
torch
sacremoses
accelerate>=0.21.0
